<div class="container">
    <h1 class="text-center">Todo list by CHIRAG JAIN</h1>
    <app-todo-add (todoAdd)="addTodo($event)"></app-todo-add>

    <h1>Todo List</h1>

    <div *ngIf="this.todos.length==0; else elseBlock">MZAA KRR KAAM NHI H</div>
    <ng-template #elseBlock>
        <div *ngFor="let todo of todos; index as i">
            <app-todo-item [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)"
                (checkBox)="checkBoxTodo($event)"></app-todo-item>
        </div>
    </ng-template>

</div>